.logo{
    justify-content: space-between;
    align-items: center;
}
.br-36 {
    border-radius: 36px!important;
}
.br-12 {
    border-radius: 12px;
}
.menu-button{
    display: flex;
    width: 250px;
    padding: 24px 20px 20px 20px;
    align-items: flex-start;
    gap: 16px;
}
.icon-box{
    width: 32px;
    height: 32px;
    display: flex;
    padding: 6px;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.02);
}
h2{
    font-size: 20px!important;
    line-height: 110%;
}
h3{
    font-size: 18px!important;
    line-height: 110%;
}
h4{
    font-size: 16px!important;
    line-height: 110%;
}
p{
    font-size: 14px!important;
    line-height: 110%;
}
small{
    font-size: 12px!important;
    line-height: 100%;
}
.fc-black{
    color: rgba(0, 0, 0);
}
.fc-grey-50{
    color: rgba(0, 0, 0, 0.50);
}
.fc-grey-20{
    color: rgba(0, 0, 0, 0.20);
}
.fc-fio{
    color:  #5269FF;
}
.fc-white{
    color: #ffffff;
}
.bg-grey-3{
    background: rgba(0, 0, 0, 0.03);
}
.bg-grey-30{
    background: rgba(0, 0, 0, 0.3);
}
.bg-fio{
    background: #5269FF;
}
.menu-item{
    text-align: start;
    padding: 12px 12px;
}
.menu-item:hover{
    background: rgba(0, 0, 0, 0.01);
}
.border-gradient {
    border-width: 3px;
    border-radius: 36px;
    border-image-slice: 1;
    border: 3px dashed #fff;
    background:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(138deg, rgba(244,174,204,1) 0%, rgba(245,188,204,1) 10%, rgba(247,212,199,1) 27%, rgba(249,243,178,1) 51%, rgba(218,240,253,1) 73%, rgba(168,220,248,1) 89%, rgba(72,191,235,1) 100%) border-box;
}
.border-gradient-purple {
    border: 3px dashed #fff;
}

.btn-group>.btn-group:not(:last-child)>.btn, .input-group, .btn-group>.btn.dropdown-toggle-split:first-child, .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;

    -webkit-border-top-left-radius: 36px;
    -webkit-border-bottom-left-radius: 36px;
    -webkit-border-top-right-radius: 36px;
    -webkit-border-bottom-right-radius: 36px;
}
.btn-group>.btn-group:not(:first-child)>.btn,  .input-group, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
}

.no-border {
    border: 0;
    box-shadow: none;
}
.text-field{
    display: flex;
    max-width: 200px;
    height: 50px;
    /*padding: 16px 20px;*/
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.03)!important;
}
.input-group{
    width: 350px;
    border: none!important;
    border-radius: 36px!important;
}
.input-group-text{
    background: transparent!important;
    border: none!important;
}
.presentation-box{
    flex: 1 0 0;
    border-radius: 20px;
}
.presentation-box img{
    width: 100%;
}
.presentation-box p{
    position: absolute;
    top: 0;
}
.presentation-box .preview-box{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    border-radius: 36px;
    top: 68%;
    right: 8px;
}
.preview-box img{
    padding-top: 11px;
    padding-left: 4px;
}
.swiper-wrapper{
    gap: 1%;
}
.disable-button{
    opacity: 0.3;
}
#templates button img{
    width: 100%;
}
#templates button{
    width: 180px;
}
#fix-parent-block{
    width: max-content;
}
.back-img{
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.login-box{
    z-index: 100;
    position: fixed;
    top: 0;
    right:0;
}
.login-back{
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.80);
    display: flex;
    width: 583px;
    height: 428px;
    padding: 35px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
#login{
    overflow: hidden;
}