.frameChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    right: -100%;
    bottom: -100%;
    left: 100%;
    border-radius: 39px 9px 9px 39px;
    background-color: #000;
    transform:  rotate(-180deg);
    transform-origin: 0 0;
}
.ai {
    position: absolute;
    top: 17px;
    left: 20px;
    letter-spacing: -0.06em;
    font-weight: 500;
}
.p {
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 33px;
}
.rectangleParent {
    position: absolute;
    top: 22px;
    left: 32px;
    width: 42px;
    height: 42px;
}
.frameItem {
    align-self: end;
    position: absolute;
    top: 22px;
    border-radius: 32px;
    background-color: #d9d9d9;
    width: 42px;
    height: 42px;
}
.frameParent {
    width: 100%;
    justify-items: center;
    position: relative;
    border-radius: 60px;
    background-color: #fff;
    height: 86px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: 'SF Compact Rounded', serif;
}